body {
    margin: 0;
}

#root {
    background-color: #110b11;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-input {
    margin-bottom: 32px !important;
}

.calculator-input textarea {
    -webkit-text-fill-color: #F0FDFD !important;
    color: #F0FDFD;
    text-align: end;
    font-size: 32px;
}