body {
    margin: 0;
}

#root {
    background-color: #110b11;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-input {
    margin-bottom: 32px !important;
}

.calculator-input input {
    background: #1F1B2E !important;
    color: #F0FDFD;
    text-align: end;
    font-size: 32px;
    text-decoration: none;
}

.calculator-input input:before {
    border-bottom: none !important;
}

.calculator-input input:after {
    border-bottom: none !important;
}

.css-cio0x1-MuiInputBase-root-MuiFilledInput-root:before {
    border-bottom: none;
}

.css-cio0x1-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: none;
}